@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
}


body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  

}

input{

  color:rgb(230, 216, 216);
  padding:17px;
  outline:none;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 15%;
  border: 1px solid rgb(156, 157, 158);
  margin-bottom: 1px;
  
}

.maincolor{

background: -webkit-linear-gradient(112deg, rgb(22, 24, 26), rgb(112, 115, 119));
background: linear-gradient(112deg, rgb(22, 24, 26), rgb(115, 118, 122));
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

}

.num{
  width: 64px;
}

.text{
  width: 160px;
  height: 26px;
  border-radius: 15px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 12px;
}

.text1{

  width: 24px;
  height: 26px;
  margin-left: 4px;
  border-radius: 22px;
  letter-spacing: 15px;
  text-align: center;
  margin-bottom:12px;
  border-radius: 20%;
  cursor: pointer;
}

.main{
  display: inline-block;
}


.pur{
  
  background: -webkit-linear-gradient(112deg, rgb(115, 52, 222), rgb(171, 129, 243));
  background: linear-gradient(112deg, rgb(115, 52, 222), rgb(171, 129, 243));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}